<div class="flex flex-row h-18 place-items-center justify-between border-2 border-neutral-300 bg-white px-4 xl:px-8">
  <div><%= "#{income.amount} zł" %></div>
  <div>
    <%= "#{income.month}.#{income.year}" %>
  </div>
</div>
